#cuerpo{
    background-color: rgb(10, 182, 208);
}
#descuento{
    background-color: rgb(255, 5, 5);
    border: 1px solid black;
}
#tittle1{
    background-color: goldenrod;
    display: inline-block;
}
#tittle2{
    background-color: goldenrod;
    display: inline-block;
}#tittle3{
    background-color: goldenrod;
    display: inline-block;
}
#Nike{
    border: 1px solid black;
}
#boton{
    background-color: rgb(103, 136, 141);
}
#card{
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    padding-top: 10px;
}
#Borderbox{
    border: 1px solid black;
}